* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #005dab;
}

nav {
	float: right;
	padding-top: 5px;
	padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #005dab;
    position: relative;
    width: 100%;
    font-family:;
}

li {
    float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
nav li a:hover {
      background-color: #045192;
        }

#logo {
	max-width: 25%;
	max-height: 25%;
	position: absolute;
	margin-left: 3px;
	margin-top: 3px;
}
#slider {
}
img {
	max-width: 100%;
    float: left;
    max-width: 20%;
    max-height: 20%;
    left-padding: 5px;
}

.Programs {
    background-color: #000B45;
}

#images {
    max-width: 100%;
    max-height: 50%;
}
/*Body of the Document*/
.Programs {
	background-color: #000B45;
	background: url("../images/program header.png") fixed 100%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.parallax {
}
.parallax-inner{
	padding-top: 15%;
	padding-bottom: 10%;
    background: url("") 100%;
}

.parallax-inner {
    padding-top:;
    padding-bottom:;

}

.parallax-inner_1 {
    padding-top:;
    padding-bottom:;
}

.parallax_2 {
    background: url("") 100%;
}

.parallax-inner_2 {
    padding-top:;
    padding-bottom:;
}
#courseDescription{
	font-color: #ffffff;
	}

/*.slides {
    max-width: 400px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

    .slides div {
        background-color: white;
        width: 100%;
        display: inline-block;
        display: none;
    }

    .slides img {
        width: 100%;
        height: auto;
    }

button {
    position: absolute;
}

.next {
    right: 5px;
}

.prev {
    left: 5px;
}*/
/*End of Body*/
