* {
    margin: 0;
    padding: 0;
}
h4 {
	font-family: Poppins;
	font-size: 30px;
}
p {
	font-family: Actor;
	font-color: #fff;
	}
#header img {
	max-width: 100%;
	height: auto;
}
body {
    margin: 0;
    padding: 0;
    background-color: #005dab;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #005dab;
    position: relative;
    width: 100%;
    font-family:;
}

li {
    float: left;
}
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
		font-family: Poppins;
}

nav li a:hover {
    background-color: #045192;
}

#logo {
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
}

#slider {
}
.Programs {
    background-color: #000B45;
}

#images {
    max-width: 100%;
    max-height: 50%;
}

/*Body of the Document*/
.Programs {
    background-color: #000B45;
    background: url("../images/program header.png") fixed 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.parallax {
}

.parallax-inner {
    padding-top: 15%;
    padding-bottom: 10%;
    background: url("") 100%;
}

.parallax-inner {
    padding-top:;
    padding-bottom:;
}

.parallax-inner_1 {
    padding-top:;
    padding-bottom:;
}

.parallax_2 {
    background: url("") 100%;
}

.parallax-inner_2 {
    padding-top:;
    padding-bottom:;
}

#courseDescription {
	font-size: 25px;
	color: #fff;
	width: auto;
	margin: 1em auto;
	padding: 35px;
	background-color: #003f74;
	border-radius: 1em;
}
/*End of Body*/
