#yes {
		color: #ff0000;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0px;
    width: 100%;
	font-size:27px;
	font-family: arial;
}

li {
    
    float: left;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}


li a:hover {
    background-color: #111;
}
.home {

    margin-left: 160px;
}
#image {
	padding: 0px;
	
}



: