body {
	margin: 0;
	padding: 0;
	background-color: #b30000;
	}
nav {
	float: right;
	}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: auto;
	background-color: #b30000;
	position: relative;
	width: 100%;
	font-family: ;
	}
li {
	float: left;
	}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
li a:hover {
	background-color: #e60000;
	}