* {
	box-sizing: border-box;
}

#yes {
<<<<<<< HEAD
		
	float: left;
	position: center
	width: 40%;
	height: 60%;
	padding-left: 50px;
	padding-top: 75px;
	font-size: 25px;
=======
		text-align: left;
		float: left;
		position: relative;
		width: 40%;
		height: 60%;
		padding-left: 1%;
		padding-top: 17%;
>>>>>>> origin/master
		
}
ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 0px;
    overflow: hidden;
    background-color: #333;
    position: center;
    top: 0px;
    width: 90%;
	font-size:34px;
	font-family: georgia;
	float: left;
	padding-left: 10%;
	
}
.nav {
	float: left;
	
	
}

li {
    
    float: left;
	
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 45px; 
    text-decoration: none;
	
	
}


li a:hover {
    background-color: #111;
	
}
.home {

    margin-left: 160px;
	
}
#image {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 850px;
	
	
	
}
body {
	margin: 0;
	padding: 0;
	
	
}
#drone {
	
	float: right;
	width: 53%;
	height: 53%;
	padding-right: 40px;
	padding-top: 65px;
	position: relative;
	
	
}
#tech {
	font-size: 300%;
	padding-left: 13%;
	
}
#his {
	padding-left: 20%;
	padding-top: 2%;
	position: center;
	

}
.par {
	text-align: center;
	padding-right: 35%;
	position: relative;
	font-size: 25px;
	
	

}
#p1 {
	padding-top: 4%;

}
#p2 {
	padding-top: 1%;
	

}
#in {
	height: 30%;
	width: 30%;
	float: right; 
	padding-right: 100px;
	padding-top: 100px;
	position: relative; 
}
#saf {
	padding-top: 2%;
	padding-left: 1%;
	font-family:Georgia, serif;
	font-size: 60px;
}
#no {
	padding-left:10%;
	padding-right: 3%;
	padding-top: 3%;
	float: right;
	width: 30%;
	height: 30%;
}
#safpar{
	padding-top: 2%;
	padding-left: 2%;
	font-size: 23px;
}
#ol{
	
}
<<<<<<< HEAD
.button {
    background-color: #000000; /* black */
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 65px 1450px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5:hover {
    background-color: #555555;
    color: white;
}
=======
#images {
    max-width: 200%;
    max-height: 200%;
}

>>>>>>> origin/master
